/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Utilitis */
.p10 {
    padding: 10px;
}

.p40 {
    padding: 40px;
}

.pd50 {
    padding: 50px;
}

.btn-wh {
    background-color: #fff;
    color: #23272a;
}

.btn-bl {
    background-color: #23272a;
    color: #fff;
}


/* Generals */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 600px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    border-radius: 20px;
}

h1 {
    padding-top: 50px;
    font-size: 3.5rem;
}

p {
    font-size: 1.4rem;
}

h2 {
    padding: 30px;
    font-size: 3rem;
}

/* Header */
header {
    background: url(/img/jumbo.png) no-repeat center;
    background-size: cover;
    padding: 20px;
}

.header-tp-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
    display: flex;
}

.logo {
    flex-basis: 20%;
}

.logo-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}


.link {
    flex-grow: 1;
}

.link-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.link-list li>* {
    color: #fff;
}

.btn {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn a {
    color: #23272a;
}

.header-btm {
    height: 500px;
    padding: 90px 0;
    display: flex;
    justify-content: center;
}

.header-btm-container {
    width: 50%;
    text-align: center;
    color: #fff;
}

.header-btm-container a {
    margin: 10px;
    font-size: 1.3rem;
}

/* Main */
.white-section {
    background-color: #fff;
}

.gray-section {
    background-color: gray;
}

.large-column {
    flex-basis: 65%;
    margin: 50px auto;
}

.small-column {
    flex-basis: 35%;
    margin: 50px auto;
}

.small-column p {
    padding: 0 30px;
}

.container-xl {
    background-color: green;
    min-height: 800px;
    max-width: 1200px;
    margin: auto;
    border: 1px dashed black;
}

/* Footer */
footer {
    background-color: #23272a;
    min-height: 700px;
    margin: 0 auto;
}

.main-footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    height: 600px;
    border-bottom: 1px solid white;
}

.footer-box-small {
    flex-basis: 25%;
    margin: 20px auto 50px;
    background-color: pink;
    border: 1px dashed black;
}

.footer-box-large {
    flex-basis: 75%;
    margin: 20px auto 50px;
    background-color: skyblue;
    border: 1px dashed black;
    display: flex;
}

.box-large-column {
    flex-basis: 25%;
    border: 1px dashed white;
}

/* Last footer */

.last-footer-container {
    max-width: 1200px;
    height: 100px;
    margin: 50px auto 0;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-cell {
    height: 40px;
    width: 80px;
    background-color: gainsboro;
    border: 1px dashed black;
}